.bestSellingBarChart {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  padding: 20px;
  margin-bottom: 20px;
  flex-basis: 50%;

  h3 {
    text-align: center;
    margin-bottom: 10px;
  }

  .yearSelection {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;

    label {
      font-size: 1rem;
      margin: 0 10px;
      font-weight: 600;
    }

    select {
      outline: none;
      font-size: 0.9rem;
      font-weight: 600;
      color: var(--background-color1);
      border: 2px solid var(--background-color1);
      box-shadow: 2px 2px 2px var(--background-color2);
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;

      option {
        font-weight: 600;
        background-color: var(--background-color1);
        color: var(--text-color1);
      }

      &:hover {
        color: var(--text-color1);
        background-color: var(--background-color1);
      }
    }
  }

  .recharts-wrapper {
    display: inline-block;

    .recharts-text {
      font-size: 0.9rem;
      font-weight: bold;
    }
  }
}
