.pieChartContainer {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  padding: 20px;
  margin-bottom: 20px;
  flex-basis: 30%;

  h3 {
    text-align: center;
    margin-bottom: 10px;
  }

  .recharts-wrapper {
    display: inline-block;

    .recharts-text {
      font-size: 18px;
      font-weight: bold;
    }
  }
}
