.single {
  display: flex;
  width: 100%;

  .singleContainer {
    flex: 6;

    .top {
      padding: 20px;
      display: flex;
      gap: 20px;

      .left {
        flex: 2;
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;
        position: relative;
        background-color: #fdf8e9;
        border-radius: 0.5rem;

        .editButton {
          position: absolute;
          top: 0;
          right: 0;
          padding: 10px;
          font-size: 1rem;
          color: var(--text-color1);
          background-color: var(--background-color1);
          box-shadow: 2px 2px 2px var(--background-color2);
          cursor: pointer;
          border-radius: 0px 0px 0px 5px;

          &:hover {
            transform: scale(1.1);
          }
        }

        .item {
          display: flex;
          gap: 20px;

          .itemImg {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
          }

          .details {
            .itemTitle {
              margin-bottom: 10px;
              color: var(--text-color2);
            }

            .detailItem {
              display: flex;
              align-items: center;
              margin: 25px 0;
              font-size: 1rem;

              .itemKey,
              label {
                flex-shrink: 0;
                font-weight: bold;
                color: var(--text-color2);
                font-size: 1rem;
                margin-right: 5px;
                display: inline-flex;
              }

              .itemValue {
                font-weight: 600;

                &.Delivered,
                &.Order-Picked-up,
                &.Create {
                  background-color: rgba(0, 128, 0, 0.05);
                  color: green;
                }
                &.Cancelled,
                &.Delete {
                  background-color: rgba(236, 6, 6, 0.05);
                  color: red;
                }
                &.Update {
                  background-color: rgba(255, 123, 0, 0.05);
                  color: darkorange;
                }
              }

              img {
                height: 400px;
                width: 50%;
                margin: 0 10px;
              }
            }

            .detailItemCustomer {
              margin: 20px 0;
              font-size: 1.3rem;

              .itemKeyCustomer {
                font-weight: 600;

                color: var(--text-color2);
                font-size: 1.3rem;
                margin-right: 5px;
              }

              .itemValueCustomer {
                font-weight: 600;
              }
            }
            select {
              border: 2px solid var(--text-color1);
              font-size: 1rem;
              font-weight: 600;
              color: var(--text-color2);
              padding: 5px 10px;
              width: 80%;
              border-radius: 0.5rem;
              outline: none;
              box-shadow: 4px 4px 2px var(--background-color1);
              margin-bottom: 10px;
              margin-left: 5px; /* Added */

              &:hover,
              &:focus {
                outline: none;
                border: 2px solid var(--background-color1);
              }
            }
          }

          input {
            border: 2px solid var(--text-color1);
            font-size: 1rem;
            font-weight: 600;
            color: var(--text-color2);
            padding: 5px 10px;
            width: 80%;
            border-radius: 0.5rem;
            outline: none;
            box-shadow: 4px 4px 2px var(--background-color1);
            margin-bottom: 10px;

            &:hover,
            &:focus {
              outline: none;
              border: 2px solid var(--background-color1);
            }
          }
        }
      }

      .right {
        flex: 2;

        .orderSummaryContainer {
          background-color: var(--background-color1);
          border-radius: 8px;
          padding: 20px;
          max-width: 600px;

          .orderSummary {
            .title {
              font-size: 25px;
              font-weight: bold;
              color: var(--background-color2);
            }

            .orderTable {
              width: 100%;
              border-collapse: collapse;

              th,
              td {
                border: 1px solid #ccc;
                padding: 8px;
                text-align: left;
              }
              th {
                color: var(--text-color2);
              }
              td {
                color: var(--text-color1);
              }

              th {
                background-color: var(--background-color3);
                font-weight: bold;
              }
            }
          }
        }
      }
    }

    .bottom {
      padding: 20px;

      .fieldsContainer {
        background-color: var(--background-color1);
        border-radius: 8px;
        padding: 20px;
        width: 100%;

        .fieldsSummary {
          .fieldsTitle {
            font-size: 25px;
            font-weight: bold;
            color: var(--background-color2);
          }

          .fieldsTable {
            width: 100%;
            border-collapse: collapse;

            th,
            td {
              border: 1px solid #ccc;
              padding: 8px;
              text-align: left;
            }
            th {
              color: var(--text-color2);
            }
            td {
              color: var(--text-color1);
            }

            th {
              background-color: var(--background-color3);
              font-weight: bold;
            }
          }
        }
      }
    }

    .title {
      font-size: 16px;
      color: black;
      margin-bottom: 20px;
    }
  }
}
