.widget {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 10px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(1, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.6);
  border-radius: 10px;
  height: 110px;
  background-color: #fae9bd;

  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .title {
    font-weight: bolder;
    font-size: 0.9rem;
    color: black;
  }

  .counter {
    font-size: 1.7rem;
    font-weight: 500;
  }

  .link a {
    width: max-content;
    font-size: 1rem;
    border-bottom: 1px solid gray;
    color: var(--text-color2);

    &:hover {
      font-weight: 600;
      color: var(--background-color1);
    }
  }

  .percentage {
    display: flex;
    align-items: center;
    font-size: 14px;

    &.positive {
      color: green;
    }
    &.negative {
      color: red;
    }
  }

  .icon {
    font-size: 1.6rem;
    padding: 5px;
    border-radius: 10px;
    align-self: flex-end;
  }
}
