.sidebar {
  flex: 1;
  // border-right: 0.5px solid rgb(230, 227, 227);
  border-right: 3px solid var(--background-color2);
  min-height: 100vh;
  background-color: #751c1a;

  .top {
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: #ffc500;
    }
  }

  hr {
    height: 0;
    // border: 0.5px solid rgb(230, 227, 227);
    border: 1.5px solid var(--background-color2);
  }

  .center {
    padding-left: 10px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 0.7rem;
        font-weight: bold;
        color: white;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;

        // :hover {
        //   color: var(--background-color2);
        // }

        .icon {
          font-size: 18px;
          color: var(--background-color2);
        }

        .PriorityHighIcon {
          display: flex;
          background-color: var(--background-color2);
          color: red;
          font-size: 1.4rem;
          // padding: 1px 2px;
          border-radius: 50%;
          margin-left: 10px;
          animation: jiggle 0.5s ease-in-out infinite;

          &:hover {
            color: red !important;
          }
        }

        @keyframes jiggle {
          0% {
            transform: rotate(0deg);
          }
          20% {
            transform: rotate(10deg);
          }
          40% {
            transform: rotate(-10deg);
          }
          60% {
            transform: rotate(6deg);
          }
          80% {
            transform: rotate(-6deg);
          }
          100% {
            transform: rotate(0deg);
          }
        }

        span {
          font-size: 1.2rem;
          font-weight: 600;
          color: var(--text-color1);
          margin-left: 10px;

          &.linkCounter {
            background-color: var(--background-color2);
            color: var(--background-color1);
            font-size: 1rem;
            font-weight: 600;
            padding: 1px 7px;
            border-radius: 50%;
            margin-left: 10px;
          }
        }
      }
      a {
        display: flex;
        align-items: center;
        padding: 5px;
      }
      .activeLink {
        position: relative;
        background-color: var(--background-color2);
        width: 100%;
        padding: 5px;
        border-radius: 0.5rem;

        .icon {
          color: var(--background-color1);
        }

        span {
          color: var(--text-color2);
        }
      }
    }
  }
}
