:root {
  --background-color1: #751c1a;
  --background-color2: #ffc500;
  --background-color3: #fae9bd;
  --text-color1: #fff;
  --text-color2: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
